# Terraform files
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
.terraform/
.terraform.lock.hcl

# Local configuration files
*.swp
*.swo
*~
*.log

# IDE specific files (for example, for VS Code)
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Other sensitive or temporary files
*.bak
*.tmp

# Ignore keys
*.pem
*.key
*.crt
*.csr



